body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
  margin-top: 0;
}
.container {
  display: flex;
}
.mobile-header {
  display: none;
}
.menu {
  flex: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px 25px;
}
.menu img,
.plus-sign {
  cursor: pointer;
}
.menu-img {
  display: block;
  width: 28px;
  height: 28px;
  margin-bottom: 22px;
}
.home-icon,
.quill-icon {
  position: relative;
}
.white-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 12px;
  left: 10px;
  border-radius: 50%;
}
.blue-circle {
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: #1d9bf0;
  border-radius: 50%;
  right: -3px;
  top: -3px;
}
.bell {
  padding-right: 3px;
}
.search-img {
  width: 22px;
  height: 22px;
  padding-right: 5px;
  margin-bottom: 22px;
}
.envelope {
  width: 25px !important;
  padding-right: 6px;
}
.verified {
  padding-right: 5px;
}
.user {
  padding-right: 6px;
}
.more-img {
  width: 18px;
  border: 2px solid black;
  padding: 4px;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 22px;
}
.quill-icon {
  background-color: #1d9bf0;
  border-radius: 50%;
  margin-right: -4px;
}
.quill-img {
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 0;
  filter: invert(100%);
  padding: 15px;
}
.plus-sign {
  position: absolute;
  font-weight: 600;
  left: 11px;
  top: 5px;
  z-index: 1;
  color: white;
}
.menu-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 85px;
  padding-right: 7px;
}
.feed {
  flex: 45%;
  border-left: 1px solid #edecec;
  border-right: 1px solid #edecec;
}
.feed h2 {
  padding-left: 20px;
}
.feed-header {
  padding: 0 22%;
  border-bottom: 1px solid #edecec;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.following {
  opacity: 0.6;
  font-weight: 600;
}
.blue-border {
  background-color: #1d9bf0;
  height: 4px;
  width: 58px;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}
.post-tweet,
.tweet-box {
  display: flex;
  padding: 12px 20px;
  position: relative;
  border-bottom: 1px solid #edecec;
}
.post-tweet-img {
  display: block;
  clear: both;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}
.post-text h3 {
  opacity: 0.6;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 60px;
}
.post-tweet-icons {
  width: 17px;
  height: 17px;
  position: absolute;
}
.calendar {
  bottom: 15px;
}
.tweet-btn {
  position: absolute;
  background-color: #1d9bf0;
  font-weight: bold;
  color: white;
  border: 1px solid #1d9bf0;
  padding: 8px 16px;
  border-radius: 50px;
  bottom: 10px;
  right: 20px;
  opacity: 0.6;
}
.new-tweets {
  color: #1d9bf0;
  font-size: 0.85em;
  border-bottom: 1px solid #edecec;
  padding: 10px 0;
  text-align: center;
}
.tweet-box-verify1,
.tweet-box-verify2 {
  width: 17px;
  height: 17px;
  display: inline-block;
  position: absolute;
  top: 14px;
}
.tweet-box-verify1 {
  left: 24.7%;
}
.tweet-box-verify2 {
  left: 31.7%;
}
.user-img,
.follow-details img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-img {
  margin-right: 12px;
}
.user-info {
  margin-top: 0;
}
.user-name {
  font-weight: bold;
}
.user-details,
input::placeholder {
  opacity: 0.6;
}
.dot {
  font-size: 24px;
  position: absolute;
  top: 13px;
}
.red-heart {
  position: absolute;
  font-size: 23px;
  color: red;
  left: 33.5%;
  top: 28px;
}
.star {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 33%;
  top: 37px; 
}
.tweet-box-dots {
  opacity: 0.5;
  font-size: 40px;
  position: absolute;
  top: 8px;
  right: 25px;
}
.tweet-text {
  margin-top: -3.5%;
}
.tweet-img1,
.tweet-img2 {
  display: block;
  width: 100%;
  height: auto;
  margin-top: -1.5%;
  border-radius: 20px;
}
.user-tweet a {
  display: inline-block;
  text-decoration: none;
  color: black;
  opacity: 0.6;
  margin: 12px 0 0 66px;
  font-size: 0.9em;
}
.user-tweet a:first-of-type {
  margin-left: 35px !important;
}
.comment,
.retweet,
.like,
.stats,
.share {
  position: absolute;
  width: 16px;
  height: 16px;
  opacity: 0.5;
  bottom: 14px;
}
.comment {
  left: 16.7%;
}
.retweet {
  left: 34.4%;
}
.like {
  height: 15px !important;
  left: 53.2%;
}
.stats {
  opacity: 0.4 !important;
  right: 23.4%;
  bottom: 14.5px !important;
}
.share {
  opacity: 0.75 !important;
  right: 7%;
}
.hashtag {
  color: #1d9bf0;
}
.sidebar {
  flex: 40%;
  padding: 7px 25px;
}
.search-bar {
  position: relative;
}
input[type="search"] {
  padding: 9px;
  width: 81.5%;
  position: absolute;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 50px;
}
input::placeholder {
  position: absolute;
  left: 55px;
}
.search-icon {
  height: 15px;
  width: 15px;
  position: absolute;
  opacity: 0.4;
  left: 20px;
  top: 10px;
}
.verified-box {
  background-color: whitesmoke;
  width: 72.5%;
  padding: 20px 20px 1px;
  margin-top: 12%;
  border-radius: 20px;
}
.verified-box h2 {
  margin-top: -9px;
}
.subscribe {
  margin-top: -12px;
}
.verified-box a,
.follow-btn {
  text-decoration: none;
  color: white;
}
.verified-box a h4 {
  background-color: black;
  width: 35%;
  text-align: center;
  padding: 8px;
  border-radius: 20px;
  margin-top: -7px;
  margin-bottom: 12px;
}
.trending {
  width: 72.5%;
  background-color: whitesmoke;
  padding: 1px 20px;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
}
.trending h2,
.follow-box h2 {
  margin-top: 12px;
}
.trending p {
  margin-top: -18px;
  opacity: 0.6;
  font-size: 0.85em;
}
.trending h4 {
  margin-top: -14px;
}
.trending-dot {
  font-size: 24px;
  position: absolute;
}
.trending-ad {
  margin-bottom: 40px;
}
.trending-ad p:first-of-type {
  font-size: initial !important;
  margin-top: -22px;
  padding-bottom: 4px;
}
.arrow {
  background-color: #080707;
  padding: 2px 4px;
  font-size: xx-small;
  color: white;
  border-radius: 2px;
}
.trending-dots1,
.trending-dots2,
.trending-dots3,
.trending-dots4 {
  opacity: 0.5;
  font-size: 35px;
  position: absolute;
  right: 20px;
}
.trending-dots1 {
  top: 65px;
}
.trending-dots2 {
  top: 230px;
}
.trending-dots3 {
  top: 310px;
}
.trending-dots4 {
  top: 385px;
}
.show-more {
  text-decoration: none;
  color: #1d9bf0;
  display: block;
  font-size: 0.9em;
}
.follow-box {
  width: 72.5%;
  background-color: whitesmoke;
  padding: 1px 20px;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
}
.follow-box a h4 {
  background-color: black;
  width: 80px;
  text-align: center;
  padding: 7px 0;
  border-radius: 20px;
}
.follow-box-verify1,
.follow-box-verify2 {
  width: 17px !important;
  height: 17px !important;
  display: inline-block !important;
  position: absolute;
}
.follow-box-verify1 {
  left: 64.9%;
  top: 21%;
}
.follow-box-verify2 {
  left: 51.9%;
  top: 40.5%;
}
.follow-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -12px;
}
.follow-details img {
  flex: 5%;
  margin-right: 10px;
}
.follow-details p {
  flex: 90%;
}
.follow-btn {
  flex: 5%;
}
.follow-ad-image {
  border-radius: 5px !important;
  width: 45px !important;
  height: 45px !important;
  margin-right: 10px !important;
}
.promoted {
  font-size: 0.85em;
}
.follow-details .arrow {
  opacity: 0.6;
}
.sidebar-footer {
  width: 75%;
  font-size: 0.85em;
  padding-left: 20px;
  margin-top: 15px;
}
.sidebar-footer a {
  display: inline-block;
  padding-bottom: 3px;
  margin-right: 15px;
  text-decoration: none;
  color: black;
  opacity: 0.6;
}
.mobile-plus-sign,
.quill-bg,
.mobile-quill-img,
.mobile-footer,
#sidenav {
  display: none;
}

@media screen and (max-width: 1200px) {
  .trending,
  .verified-box,
  .follow-box {
    width: 77%;
  }
  input[type="search"] {
    width: 86.5%;
  }
  .user-tweet a {
    margin-left: 59px;
  }
  .red-heart {
    left: 35.5%;
    top: 29px;
  }
  .tweet-box-verify1 {
    left: 26.2%;
  }
  .tweet-box-verify2 {
    left: 33.7%;
  }
  .star {
    right: 29%;
    top: 38px;
  }
}
@media screen and (max-width: 1024px) {
  .menu {
    flex: 10%;
  }
  .feed {
    flex: 50%;
  }
  .sidebar {
    padding: 7px 15px;
  }
  input[type="search"] {
    width: 97%;
  }
  .verified-box {
    margin-top: 15%;
  }
  .trending,
  .verified-box,
  .follow-box {
    width: 86%;
  }
  .follow-box-verify1 {
    left: 66.2%;
    top: 20.3%;
  }
  .follow-box-verify2 {
    left: 52.6%;
    top: 40%;
  }
  .follow-ad-image {
    width: 40px !important;
    height: 40px !important;
  }
  .follow-details img {
    margin-right: 6px !important;
  }
  .trending h2,
  .verified-box h2,
  .follow-box h2 {
    font-size: 1.4em;
  }
  .sidebar-footer {
    width: 80%;
  }
  .sidebar-footer a {
    margin-right: 8px;
  }
  .user-tweet a:first-of-type {
    margin-left: 25px !important;
  }
  .user-tweet a {
    margin-left: 57px;
  }
  .tweet-text {
    margin-top: -4.5%;
  }
  .red-heart {
    left: 37.5%;
    top: 27.5px;
  }
  .tweet-box-verify1 {
    left: 27.5%;
  }
  .tweet-box-verify2 {
    left: 35.4%;
  }
  .star {
    right: 25.3%;
    top: 34.5px;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .feed {
    flex: 70%;
    margin-right: 8%;
  }
  .tweet-text {
    margin-top: -3.5%;
  }
  .red-heart {
    left: 31.8%;
  }
  .tweet-box-verify1 {
    left: 23.3%;
  }
  .tweet-box-verify2 {
    left: 30%;
  }
  .star {
    right: 36.7%;
    top: 36px;
  }
  .user-tweet a:first-of-type {
    margin-left: 40px !important;
  }
  .user-tweet a {
    margin-left: 73px;
  }
}
@media screen and (max-width: 480px) {
  .menu,
  .post-tweet {
    display: none;
  }
  .feed {
    flex: 100%;
    margin: 0 -2%;
    border: none;
  }
  .feed h2 {
    display: none;
  }
  .mobile-header {
    display: block;
    padding: 10px 18px;
  }
  .mobile-header-logo, 
  .sidenav-img {
    display: inline-block;
  }
  .mobile-header-logo {
    width: 25px;
    height: 25px;
    padding-left: 38%;
  }
  .sidenav-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  #sidenav {
    display: block;
    height: 100%;
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    padding: 12px;
    box-sizing: border-box;
    transition: .5s ease-out;
    overflow-x: hidden;
    margin-left: -5%;
  }
  .sidenav-content {
    width: 85%;
    margin: auto;
  }
  .sidenav-content h3 {
    margin: 0;
  }
  .sidenav-profile-pic {
    border-radius: 50%;
    display: block;
    margin-top: 35px;
    width: 50px;
    height: 50px;
  }
  .sidenav-plus {
    font-size: 2em;
    border: 1px solid #edecec;
    border-radius: 50%;
    padding: 0px 12px 5px;
    position: absolute;
    right: 3%;
    top: 70px;
    transform: scale(0.75);
  }
  .closebtn {
    text-decoration: none;
    color: black;
    font-size: 2em;
    position: absolute;
    top: 0;
    right: 7%;
  }
  .sidenav-name {
    margin-top: 7px !important;
  }
  .sidenav-verified {
    position: absolute;
    left: 26%;
    top: 132px;
    width: 17px !important;
    height: 17px !important;
  }
  .sidenav-username {
    margin-top: 0;
  }
  .sidenav-username,
  .sidenav-faint {
    font-size: 0.9em;
    opacity: 0.6;
  }
  .sidenav-num {
    font-weight: bold;
  }
  .sidenav-following {
    margin-right: 15px;
  }
  .sidenav-links {
    display: flex;
    margin-top: 25px;
    border-bottom: 1px solid #edecec;
  }
  .links-img-box {
    flex: 15%;
    padding-top: 6px;
  }
  .links-name {
    flex: 85%;
    font-size: 1.2em;
  }
  .links-name h3 {
    margin-bottom: 15px;
  }
  .links-img {
    width: 20px;
    height: 20px;
    display: block;
    margin-bottom: 25px;
  }
  .lists-icon {
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
  }
  .sidenav-dropdowns {
    display: flex;
    justify-content: space-between;
  }
  .dropdown-img {
    width: 15px;
    height: 15px;
    display: block;
  }
  .arrow1 {
    margin-top: 28px;
  }
  .arrow2,
  .arrow3 {
    margin-top: 25px;
  }
  .tweet-box {
    padding: 12px 20px;
  }
  .tweet-box-dots {
    font-size: 32px;
  }
  .tweet-img1,
  .tweet-img2 {
    border-radius: 15px;
  }
  .user-img {
    width: 35px;
    height: 35px;
  }
  .user-info,
  .tweet-text {
    font-size: 0.9em;
  }
  .stats, .stats-num {
    display: none !important;
  }
  .user-tweet a:first-of-type {
    margin-left: 32px !important;
  }
  .user-tweet a {
    margin-left: 95px;
  }
  .comment,
  .retweet,
  .share,
  .like {
    width: 14px;
    height: 14px;
  }
  .retweet {
    left: 41.5%;
  }
  .like {
    left: 67%;
  }
  .star {
    top: 33px;
    right: 34.8%;
    width: 14px;
    height: 14px;
  }
  .tweet-box-verify1,
  .tweet-box-verify2 {
    width: 15px;
    height: 15px;
  }
  .tweet-box-verify2 {
    left: 31.2%;
  }
  .tweet-box-verify1 {
    left: 24.3%;
  }
  .red-heart {
    font-size: 21px;
    left: 32.8%;
    top: 26px;
  }
  .quill-bg {
    display: block;
    background-color: #1d9bf0 !important;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 16%;
    right: 5%;
  }
  .mobile-quill-img {
    display: block;
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 18%;
    right: 7%;
    filter: invert(100%);
  }
  .mobile-plus-sign {
    display: block;
    font-weight: 600;
    position: fixed;
    bottom: 19.5%;
    right: 10%;
    color: white;
  }
  .mobile-footer {
    display: flex;
    margin: 0 -2%;
    padding: 10px 35px;
    justify-content: space-between;
    border-top: 1px solid #edecec;
    border-bottom: 1px solid #edecec;
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: white;
  }
  .mobile-footer img {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 428px) {
  #sidenav {
    margin-left: -7%;
  }
  .sidenav-content {
    padding-left: 15px;
  }
  .sidenav-verified {
    left: 30%;
  }
  .tweet-box-verify1 {
    left: 27.3%;
  }
  .red-heart {
    left: 37%;
    top: 27.5px;
  }
  .tweet-box-verify2 {
    left: 34.9%;
  }
  .star {
    right: 26.5%;
    top: 34.5px;
  }
  .user-tweet a:first-of-type {
    margin-left: 24px !important;
  }
  .user-tweet a {
    margin-left: 80px;
  }
  .mobile-quill-img {
    right: 7.5%;
  }
  .mobile-plus-sign {
    right: 10.5%;
  }
}
@media screen and (max-width: 414px) {
  .tweet-text {
    font-size: 0.85em;
    margin-top: -4.5%;
  }
  .red-heart {
    left: 37%;
    top: 25.5px;
    font-size: 20px;
  }
  .tweet-img1,
  .tweet-img2 {
    margin-top: -2.5%;
  }
  .tweet-box-verify1 {
    left: 28.2%;
  }
  .tweet-box-verify2 {
    left: 36%;
  }
  .star {
    top: 32.5px;
    width: 13px;
    height: 13px;
    right: 27.3%;
  }
  .quill-bg {
    width: 44px;
    height: 44px;
  }
  .user-tweet a {
    margin: 8px 0 0 78px;
    font-size: 0.85em;
  }
  .sidenav-verified {
    left: 31%;
  }
  .sidenav-following {
    margin-right: 8px;
  }
}
@media screen and (max-width: 390px) {
  .tweet-box-verify1 {
    left: 30.2%;
  }
  .tweet-box-verify2 {
    left: 38.5%;
  }
  .star {
    right: 22.7%;
    top: 33.5px;
  }
  .red-heart {
    left: 39.5%;
    top: 26.5px;
  }
  .comment {
    left: 18.5%;
  }
  .retweet {
    left: 42%;
  }
  .user-tweet a {
    margin: 7px 0 0 70px;
  }
  .mobile-footer img {
    width: 20px;
    height: 20px;
  }
  .envelope {
    width: 18px !important;
  }
  .white-circle {
    width: 6px;
    height: 6px;
    left: 7px;
    top: 9px;
  }
  .blue-circle {
    width: 5.5px;
    height: 5.5px;
    top: -1.5px;
    right: -1.5px;
  }
  .sidenav-verified {
    left: 32.4%;
  }
}
@media screen and (max-width: 376px) {
  .feed-header h4 {
    margin-bottom: 1em;
  }
  .tweet-box-verify1 {
    left: 31.3%;
  }
  .tweet-box-verify2 {
    left: 40%;
  }
  .star {
    right: 19.7%;
    top: 34px;
  }
  .red-heart {
    left: 41%;
    top: 27px;
  }
  .user-tweet a {
    margin-left: 65px;
  }
  .quill-bg {
    bottom: 12%;
  }
  .mobile-quill-img {
    bottom: 14%;
  }
  .mobile-plus-sign {
    bottom: 16%;
  }
  .sidenav-verified {
    left: 33.3%;
  }
}
@media screen and (max-width: 360px) {
  .feed-header {
    padding: 0 18%;
  }
  .feed-header h4 {
    font-size: 0.9em;
  }
  .blue-border {
    width: 52px;
  }
  .user-info {
    font-size: 0.85em;
  }
  .tweet-text {
    font-size: 0.8em;
    margin-top: -5.5%;
  }
  .user-tweet a {
    font-size: 0.75em;
    margin-left: 60px;
  }
  .tweet-box-verify1 {
    left: 32%;
  }
  .tweet-box-verify2 {
    left: 40.6%;
  }
  .star {
    right: 20.3%;
    top: 32px;
    width: 11px;
    height: 11px;
  }
  .red-heart {
    left: 41.5%;
    top: 24.5px;
    font-size: 18px;
  }
  .comment,
  .share,
  .retweet,
  .like {
    width: 13px;
    height: 13px !important;
  }
  .comment {
    left: 20%;
  }
  .sidenav-verified {
    left: 34.5%;
  }
  .tweet-img1,
  .tweet-img2 {
    border-radius: 10px;
  }
}
@media screen and (max-width: 320px) {
  .tweet-box-verify1 {
    left: 37%;
  }
  #sidenav {
    margin-left: -8%;
  }
  .tweet-box {
    padding: 12px 15px;
  }
  .tweet-box-dots {
    right: 16px;
    font-size: 30px;
  }
  .tweet-img1,
  .tweet-img2 {
    margin-top: -4%;
  }
  .user-tweet a:first-of-type {
    margin-left: 18px !important;
  }
  .user-tweet a {
    margin-left: 50px;
  }
  .like {
    left: 66%;
  }
  .tweet-box-verify1 {
    left: 34.6%;
  }
  .tweet-box-verify2 {
    left: 44.4%;
  }
  .star {
    right: 11.3%;
    top: 34px;
  }
  .red-heart {
    left: 45.3%;
    top: 26.5px;
  }
  .quill-bg {
    width: 41px;
    height: 41px;
  }
  .mobile-quill-img {
    width: 18px;
    height: 18px;
  }
  .mobile-plus-sign {
    font-weight: 400;
    bottom: 15.5%;
    right: 11%;
  }
  .sidenav-content h3 {
    font-size: 1em;
  }
  .sidenav-username,
  .sidenav-faint {
    font-size: 0.85em;
  }
  .sidenav-num,
  .dropdown-name h4 {
    font-size: 0.88em;
  }
  .sidenav-username {
    margin-bottom: 3px;
  }
  .closebtn {
    font-size: 1.8em;
  }
  .sidenav-profile-pic {
    margin-top: 28px;
    width: 45px;
    height: 45px;
  }
  .sidenav-plus {
    transform: scale(0.6);
    top: 52px;
  }
  .sidenav-verified {
    top: 115px;
  }
  .sidenav-links {
    margin-top: 20px;
  }
  .links-img {
    width: 18px;
    height: 18px;
  }
  .lists-icon {
    width: 13px;
    height: 13px;
    margin-bottom: 22px;
  }
  .links-name h3:first-of-type {
    padding: 3px;
  }
  .mobile-header {
    padding-left: 8px;
  }
  .mobile-header-logo {
    padding-left: 34%;
    width: 22px;
    height: 22px;
    margin-bottom: 5px;
  }
  .dropdown-img {
    width: 12px;
    height: 12px;
  }
  .arrow1 {
    margin-top: 23px;
  }
}